<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319929150233-trnsbifh2mhq0f6oid3r7m7b7onejk80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319929150233-trnsbifh2mhq0f6oid3r7m7b7onejk80</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMZpcqH3F4Ej5Hd9TftH3z82lsqrRvhc</string>
	<key>GCM_SENDER_ID</key>
	<string>319929150233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>isuru.Cafe-Manager</string>
	<key>PROJECT_ID</key>
	<string>cafemanager-7090a</string>
	<key>STORAGE_BUCKET</key>
	<string>cafemanager-7090a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319929150233:ios:3f294fb9e3044f8d98f388</string>
</dict>
</plist>